@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html,
body,
.viewport {
  @apply h-full w-full m-0 pt-5 bg-neutral-900 overflow-hidden text-neutral-300;
  transition: 0.5s ease !important;
  font-family: "Inter", sans-serif !important; /* Ensure the correct font family */
}

.markd {
  @apply text-neutral-300 text-sm leading-8;
}
/* Specific styling for different Markdown elements */
.markd h1 {
  @apply text-white font-bold text-2xl mt-6 mb-4;
}

.markd h2 {
  @apply text-white font-bold text-lg mt-5 mb-3;
}

.markd h3 {
  @apply text-white font-bold text-base mt-4 mb-2;
}

.markd p {
  @apply mb-4; /* Dark neutral color for paragraphs */
}

.markd ul,
.markd ol {
  @apply list-disc list-inside mb-4; /* Dark neutral for lists */
}

.markd li {
  @apply mb-2; /* Dark neutral for list items */
}

.markd a {
  @apply underline; /* Link color */
}

.markd strong {
  @apply text-white font-semibold; /* Bold and dark */
}

.markd em {
  @apply italic; /* Italic and dark */
}

.markd blockquote {
  @apply border-l-4 border-neutral-300 pl-4 italic mb-4;
}

.markd code {
  @apply bg-neutral-200 rounded px-1; /* Code styling */
}

.markd pre {
  @apply bg-neutral-800 text-white rounded p-4 overflow-auto mb-4; /* Preformatted text styling */
}
@keyframes fade-in-animation {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.fade-in {
  opacity: 0;
  filter: blur(20px);
  animation: fade-in-animation 0.5s forwards; /* Use forwards to maintain the end state */
  transition: opacity 0.5s ease-in; /* Transition for any opacity change */
}

.fade-in.show {
  opacity: 1; /* Make sure the element is visible when the class is added */
  filter: blur(0); /* Remove blur */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
